@import 'app/admin-bar.scss';
@import 'app/plugins.scss';
@import 'app/link-format.scss';

.aioseo-menu-highlight {
	color: #fff;
}

#toplevel_page_aioseo {
	.aioseo-submenu-highlight {
		background-color: #1DA867;

		&.red {
			background-color: #DF2A4A;
		}

		a {
			color: #fff;
			font-weight: 600;
		}
	}
}

label[for=aioseo_contact_methods_header] {
	font-size: 1.2em;
}

#aioseo_contact_methods_header {
	display: none;
}