@import 'app/variables.scss';
@import 'app/table-widefat.scss';

// Inside the Dev environment.
body.vue-build {
	margin: 0;

	.aioseo-app {
		min-height: calc(100vh - 88px);

		.aioseo-main {
			padding-bottom: 30px;
		}
	}
}

// Inside WordPress.
body.aioseo-setup-wizard {
	margin: 0;
	padding: 0;

	.aioseo-app {
		min-height: 100vh;
		width: 100%;
	}
}

body[class*="page_aioseo"] {
	.aioseo-header,
	.aioseo-notifications .overlay {
		left: 160px;
	}

	&.folded {
		.aioseo-header,
		.aioseo-notifications .overlay {
			left: 36px;
		}
	}

	#wpcontent {
		padding: 0;
		background-color: $background;
	}

	.update-nag {
		display: none;
	}

	&.admin-bar {
		.aioseo-app {
			// 100% (viewport height) - 72px (header) - 65px (wp content margin) - 32px (admin bar)
			min-height: calc(100vh - 88px - 65px - 32px);
		}

		&.aioseo-has-bar {
			.aioseo-app {
				min-height: calc(100vh - 88px - 40px - 65px - 32px);
			}
		}

		.aioseo-header {
			top: 32px;
		}

		.aioseo-notifications {
			.overlay {
				top: 32px;
			}
			.notification-menu {
				top: 32px;
			}
		}
	}

	.aioseo-app {
		min-height: calc(100vh - 88px - 65px);
	}

	&.aioseo-has-bar {
		.aioseo-app {
			min-height: calc(100vh - 88px - 40px - 65px);
		}

		.aioseo-header {
			height: 112px;

			@media screen and (max-width: 782px) {
				height: 132px;
			}
		}
	}

	&.aioseo-flyout-menu-enabled {
		.aioseo-app {
			padding-bottom: 40px;
		}
	}

	@media screen and (max-width: 960px) {
		&.auto-fold {
			.aioseo-header,
			.aioseo-notifications .overlay {
				left: 36px;
			}
		}
	}

	@media screen and (max-width: 782px) {
		#wpbody-content {
			padding-bottom: 20px;
		}

		&.admin-bar {
			.aioseo-app {
				min-height: calc(100vh - 88px - 65px - 46px);
			}

			.aioseo-header {
				top: 46px;
			}

			.aioseo-notifications {
				.overlay {
					top: 46px;
				}
				.notification-menu {
					top: 46px;
				}
			}
		}

		.aioseo-header,
		.aioseo-notifications .overlay {
			left: 0;
		}

		&.auto-fold {
			.aioseo-header,
			.aioseo-notifications .overlay {
				left: 0;
			}
		}

		&.aioseo-flyout-menu-enabled {
			.aioseo-app {
				padding-bottom: 100px;
			}
		}
	}

	@media screen and (max-width: 600px) {
		&.admin-bar {
			.aioseo-notifications .overlay,
			.aioseo-notifications .menu {
				position: absolute;
				top: 46px;
			}

			.aioseo-header {
				position: relative;
				top: 0;
			}
		}
	}
}

body.aioseo-has-bar {
	.aioseo-app {
		.aioseo-main {
			> .aioseo-container {
				margin-top: 128px;

				@media screen and (max-width: 782px) {
					margin-top: 148px;
				}
			}
		}
	}
}

.aioseo-app {
	.route-fade-enter-active, .route-fade-leave-active {
		transition: all 0.2s;
	}
	.route-fade-enter, .route-fade-leave-active {
		opacity: 0;
	}
	.route-fade-enter {
		transform: translateX(30px);
	}
	.route-fade-leave-active {
		transform: translateX(-30px);
	}

	box-sizing: border-box;
	position: relative;

	*,
	:after,
	:before {
		box-sizing: inherit;

		*:not(.aioseo-button):not(.aioseo-input) {
			line-height: 1.4;
		}
	}

	p {
		font-size: 16px;
		line-height: 1.5;
	}

	a:not(.aioseo-button) {
		color: $blue;

		&.text-white {
			color: #fff;
		}

		&:hover {
			text-decoration: none;
		}

		&.no-underline {
			text-decoration: none;
		}
	}

	h2 {
		font-size: 32px;
		margin: 0;
	}

	background-color: $background;
	// font-family: $font-family;

	.aioseo-main {
		// overflow: auto;
		height: 100%;

		> .aioseo-container {
			margin-top: 88px; // Padding the top for the header.

			@media screen and (max-width: 782px) {
				margin-top: 72px;
			}

			@media screen and (max-width: 600px) {
				margin-top: 0;
			}
		}

		.save-changes {
			display: flex;
			justify-content: flex-end;
		}
	}

	.d-flex {
		display: flex;
	}

	.aioseo-section-description {
		font-size: 16px;
		color: $black;
		line-height: 1.8;
		padding-bottom: 30px;
	}

	.aioseo-description-text {
		font-size: 14px;
		line-height: 1.8;
		color: $black;

		&.aioseo-error {
			color: $red;
		}
	}

	.aioseo-description {
		font-size: 14px;
		line-height: 1.8;
		margin: 8px 0 0;
		color: $black;

		&.no-margin {
			margin: 0;
		}

		&.aioseo-error {
			color: $red;
		}
	}

	.max-recommended-count {
		color: $black2;
		text-align: right;
		margin-top: 10px;
		font-size: 14px;

		strong.error {
			color: $red;
		}
	}

	.popper {
		text-align: left;
		font-size: 12px;
		padding: 20px;
		background-color: #fff;
		border: none;
		border-radius: 3px;
		box-shadow: 0px 3px 4.8px 0px rgba(32, 71, 102, 0.27);
		z-index: 9999;
		max-width: 350px;
		line-height: 1.4;

		&.action {
			padding: 8px 12px;
			background-color: $black;
			color: #fff;

			.popper__arrow {
				border-top-color: $black;
			}
		}

		&[x-placement^="bottom"] {
			box-shadow: 0px -2px 4.8px 0px rgba(32, 71, 102, 0.27)
		}

		.aioseo-description {
			margin: 0;
		}
	}

	.aioseo-row-highlight {
		animation-name: color;
		animation-duration: 0.5s;
		animation-iteration-count: 2;

		@keyframes color {
			0% {
			  background-color: #FFF;
			}
			50% {
			  background-color: $green;
			}
			100% {
				background-color: #FFF;
			}
		}
	}
}

.column-aioseo-details {
	position: relative;
}