body {
	#most-recent-results {
		margin-top: 0 !important;
	}

	#wp-link-wrap {
		height: 650px;

		#wp-link {
			.query-results {
				position: initial;
	
				ul {
					max-height: 200px;
					overflow: scroll;
				}
			}
	
			#link-selector {
				overflow: auto;
			}
			
		}
	}
}

@media (max-width: 782px) {
	body {
		#wp-link-wrap {
			margin-top: -250px;

			#wp-link {
				.link-target label {
					line-height: 30px;
				}
			}
		}
	}
}

@media (max-height: 620px) {
	body {
		#wp-link-wrap {
			margin-top: 0;
			top: 10px;
		}
	}
}