body #most-recent-results {
	margin-top: 0 !important;
}
body #wp-link .query-results {
	position: initial;
}
body #wp-link .query-results ul {
	max-height: 200px;
	overflow: scroll;
}
body #wp-link-wrap #link-selector {
	overflow: auto;
}

@media (max-width: 782px) {
    body #wp-link-wrap {
        top: 30%;
    }
    body #wp-link .link-target label {
        line-height: 30px;
    }
}