$green: #00AA63;
$green2: #07C575;
$green3: #15955F;

$black: #141B38;
$black2: #434960;
$black2-hover: #2C324C;
$black3: #202124;

$blue: #005AE0;
$blue2: #1A82EA;
$blue3: #004F9D;

$gray: #DCDDE1;
$gray2: #DADADA;
$gray3: #555D66;
$gray4: #F3F5F6;

$red: #DF2A4A;
$red2: #AB2039;
$red3: #F83C5D;

$yellow: #FCFAE8;

$white: #FFFFFF;
$white2: #F0F2F5;
$white3: #F2F3F5;

$orange: #F18200;
$orange2: #F28A10;
$orange3: #D4790D;

$background: #F3F4F5;
$border: #E8E8EB;
$inline-background: #F2F7FD;
$input-border: #D0D1D7;
$box-background: #F9F9FA;
$box-background2: #f8fbff;
$placeholder-color: #8C8F9A;

$font-family: Helvetica, Arial, sans-serif;